 table,th,td{
      text-align: center;
      font-size: 18px;
      font-family: century gothic;
   }
   h2{
   text-align: center;
   font-family: verdana;
   background-color: #fff;
   }
   p{
      font-size: 18px;
      font-family: century gothic;
   }
   ul{
      font-size: 18px;
      font-family: century gothic;
      line-height: 28px;
   }
   li{
      margin-left: 20px;
   }
   hr{
      height: 3px;
      background-color: #ccc;
      margin-top: -27px;
      margin-bottom: 30px;
   }
   span.hr{
      background-color: white;
      padding:0 10px;
      color:#000;
   }
   .header
   {
      height:200px;
      background-image: url('https://github.com/srinmolugu/sri/blob/gh-pages/code.jpg?raw=true');
      background-position: center;
      background-size: cover;
   }
   .pic
   {
      background-image: url('https://github.com/srinmolugu/sri/blob/gh-pages/srinath.jpg?raw=true');
      background-size: cover;
      margin-left: auto;
      margin-right: auto;
      height: 100px;
      width: 100px;
      position: relative;
      top: -50px;
      margin-bottom: -50px;
      border: 2px solid white;
      border-radius: 50px;
      -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.35);
      box-shadow: 0 0 6px 0 rgba(0,0,0,0.35);
      cursor: pointer;
   }
   .pic:hover{
      border: 2px solid #AAA;
      cursor: pointer;
   }
   .picdown{
      position: relative;
      margin-left: 99px;
      margin-top:48px;
   }
   .pic-content{
      display: none;
      position: absolute;
      background-position: center;
      background-attachment: fixed;
      background-image: url('http://2.bp.blogspot.com/-96dUp0NAYkY/Ujg2b7TpvWI/AAAAAAAABTA/3W0QZbMlM8c/s1600/   photoshop-new-image-brick-wall-background-free.jpeg');
      min-height: 12px;
      min-width: 150px;
      border-radius: -6px 50px 50px -30px;
      border-style: dotted;
      border-left-style: none;
      border-color: white;
   }
   .pic-content a {
      color: black;
      padding: 0 4px;
      text-decoration: none;
      display: inline-flex;
   }
   
   .pic:hover .pic-content{
      display: inline-flex;
   }
   .pic-content a:hover{
      background-color:white;
   }
   #head{
      background-color: #000000;
      text-align: center;
      word-spacing: 50px;
   }
   .button
   {
      background-color: #000000;
      color: #FFFFFF;
      padding: 4px;
      width: 200px;
      height: 40px;
      border: none;
   }
   .button:hover
   {
      background-color: #FFFFFF;
      color: #000000;
      transition: 1s;
      cursor: pointer;
   }
   
   .img{
      background: url("http://www.comd.ru/contacts/tenders/paperclip-document-icon.png");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: 400px;
   }
@media only screen and (max-width: 640px){
   li{
      margin-left: 0px;
   }
   .img{
     background: #fff;
   }
   p{
      text-align: justify;
   }
}
